<h1>Dice</h1>

<p>
<img src="/images/dice/<%= die1 %>.svg" alt="image of die">
<img src="/images/dice/<%= die2 %>.svg" alt="image of die">
</p>
<img src="" alt="">
<p></p>

<p>"The total is #{total}"</p>

<p>
<a href="/dice">Roll again</a>
</p>

